{% extends "layout.html" %}
{% block content %} 
<section class="admin">
    <div class="container">
<!-- here-->
	<form action = "/add_item" method = "post" enctype="multipart/form-data"> 
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Article title">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea class="form-control" id="description" rows="5" name="desciption"></textarea>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">input article text (html format)</label>
            <textarea class="form-control" id="formFile" rows="40" name="article_text"></textarea>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">input images</label>
            <input class="form-control" type="file" name="images"  id="formFileMultiple" multiple>
          </div>
          <div class="form-group">
            <h4>Type :</h4>
            <label for="culture" class="form-label" style="color:rgb(252, 252, 250)">Culture</label>
            <input type=radio name=type value='cultures' id="culture">  
            <label for="article" class="form-label" style="color:rgb(252, 252, 250)">Article</label>
            <input type=radio name=type value='articles' id="article">
          </div>
		<button type="submit" class="btn btn-primary green_btn py-2">Upload</button>

</div>
</section>
{% endblock %}