{% extends "layout.html" %}
{% block content %}
<section class="admin">
    <div class="container">
        <div class="col d-flex justify-content-center ">
        
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                <form action="/change_password" method="post">
                <h3>Change Password </h3>
                
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password">
                  </div>
                  <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
                  </div>
                  <div class="form-group">

                      <button type="submit" class="btn btn-primary green_btn py-2">Change</button>

                  </div>
                </form>
            </div>
            </div>
            </div>
  </section>
  {% endblock %}