{% extends "layout.html" %}
{% block content %}
<section class="admin">
    <div class="container">
        <div class="col d-flex justify-content-center ">
        
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                <form action="remove_item" method="post">
                <h3>Remove Item</h3>
                {% for element in elements %}
                <div class="form-group">
                    <input type=checkbox name=items value='{{ element[0]}}_{{ element[3]}}'> {{ element[1] }} | {{element[3]}} <br/>
                  </div>
                
                {% endfor %}
                      <button type="submit" class="btn btn-primary green_btn py-2">DELETE</button>

                  </div>
                </form>
            </div>
            </div>
            </div>
  </section>
  {% endblock %}