{% extends "layout.html" %}
{% block content %}
<section class="admin">
    <div class="container">
        <div class="col d-flex justify-content-center ">
        
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                <form action="remove_admin" method="post">
                <h3>Remove Admin</h3>
                {% for admin in admins %}
                <div class="form-group">
                    <input type=checkbox name=admins value='{{ admin[0]}}'> {{ admin[1] }} <br/>
                  </div>
                
                {% endfor %}
                      <button type="submit" class="btn btn-primary green_btn py-2">DELETE</button>

                  </div>
                </form>
            </div>
            </div>
            </div>
  </section>
  {% endblock %}